<!DOCTYPE html>
<html >
<head>
	<meta charset="utf-8">
         <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
	 <script src="/static/javascript/react.js"></script>
         <script src="/static/javascript/react-dom.js"></script>
	 <script src="/static/javascript/react-bootstrap.js"></script>
         <script src="/static/javascript/babel.min.js"></script>
	<title>怡蒽之家</title>
</head>

<body>
  <div id="nav"></div>
  <script type="text/babel" src="/static/javascript/nav.js"></script>
  <div id="app" class="container">
   <div id="hello"> </div>
   <script type="text/babel" src="/static/javascript/helloPanel.js"></script>

  </div>
     
</body>

</html>
